.form__window {
    border: solid rgb(255, 127, 80);
    padding: 20px;
    color: rgb(102, 102, 126);
    background-color: rgb(231, 231, 233);
    border-radius: 25px;
    margin: 10px;
    box-shadow: 10px 3px 15px rgb(0 0 0 / 30%);
   
}


