.form__name {
    background-color: rgb(234, 236, 237);
    font-size: x-large;
    color: rgb(65, 65, 72);
    border-radius: 50px;
    margin: 10px;
    padding: 15px;
    text-shadow: 2px 2px 2px rgb(182, 167, 167), -2px -2px 2px rgb(255, 255, 255);
    border-top: solid;
    border-left: solid; 
}
.form__currency {
    padding: 10px;
    font-size: large;
}

.form__convert-button {
    border-radius: 15px;
    border: none;
    padding: 15px;
    width: 700px;
    display: block;
    margin: 10px auto 0px auto;
    background-color: rgb(173, 163, 163);
    font-size: large;
}

.form__convert-button:hover {
    background-color: rgb(255, 255, 255);
}

.form__newcon-button {
    border-radius: 15px;
    border: none;
    padding: 15px;
    width: 700px;
    display: block;
    margin: 10px auto 0px auto;
    background-color: rgb(209, 202, 202);
    font-size: medium;
}

.form__newcon-button:hover {
    background-color: rgb(255, 255, 255);
}

.form__amount {
    margin: 0 300px 0 300px;
    width: 400;

    padding: 10px;
    font-size: larger;

}

.form__conversion {
    text-align: center;
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}