html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {

    background-color: rgba(171, 207, 224, 0.605);
    background-image: url("../images/water.jpg");
    background-blend-mode: lighten;
}

.form__required--colorRed {
    color: rgb(220, 20, 60);
    font-weight: bold;
}