html {
    box-sizing: border-box;

}

*, ::after, ::before {
    box-sizing: border-box;
}

//remove or add body class//

.body {
    max-width: 1000px;
    margin: 0 auto;
}

.container {
    padding: 20px;
    color: #66667e;
    background-color: #e7e7e9;
    border-radius: 25px;
    margin: 10px;
    box-shadow: 10px 3px 15px rgb(0 0 0 / 30%);
}

.form__name {
    background-color: rgb(234, 236, 237);
    font-size: x-large;
    color: rgb(65, 65, 72);
    border-radius: 50px;
    margin: 10px;
    padding: 15px;
    text-shadow: 2px 2px 2px #b6a7a7, -2px -2px 2px #ffffff;
    border-top: solid;
    border-left: solid; 
}
.form__field {
    padding: 10px;
    font-size: large;
}

.form__convert-btn {
    border-radius: 15px;
    border: none;
    padding: 15px;
    width: 60%;
    display: block;
    margin: 10px auto 0px auto;
    background-color: rgb(173, 163, 163);
    font-size: large;
}

.form__convert-btn:hover {
    background-color: hsl(0, 6%, 100%);
}

.form__newcon-btn {
    border-radius: 15px;
    border: none;
    padding: 15px;
    width: 60%;
    display: block;
    margin: 10px auto 0px auto;
    background-color: rgb(209, 202, 202);
    font-size: medium;
}

.form__newcon-btn:hover {
    background-color: hsl(0, 6%, 100%);
}

.form__amount {
    margin: 0 35% 0 35%;
    width: 400;

    padding: 10px;
    font-size: larger;

}

.form__conversion {
    text-align: center;
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}
